.grid {
    display: grid;
    grid-template-columns: repeat(4, minmax(25%, auto));
    width: var(--max-width);
    max-width: 100%;
    margin-top: 5rem;
}

/* Mobile */
@media (max-width: 700px) {
    .grid {
        grid-template-columns: 1fr;
        margin-bottom: 5rem;
        max-width: 320px;
        text-align: center;
    }

    .grid div {
        margin-bottom: 0.5rem;
    }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
    .grid {
        grid-template-columns: repeat(2, 50%);
    }
}