.grid {
    display: grid;
    grid-template-columns: repeat(4, minmax(25%, auto));
    width: 100%;
    max-width: 800px;
    margin: 3rem 0;
}

.grid div {
    margin: auto;
    color: rgba(var(--foreground-rgb), 0.4);
}

.grid a {
    vertical-align: middle;
}

.grid span {
    color: rgba(var(--foreground-rgb), 0.8);
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
    .grid div:hover {
        color: rgba(var(--foreground-rgb), 1);
        transform: scale(105%);
        transition: 200ms;
    }
}

@media (prefers-reduced-motion) {

    .grid div:hover {
        transform: none;
    }
}


/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1200px) {
    .grid {
        grid-template-columns: repeat(2, 30%);
        margin: 2.5rem 0;
        justify-content: center;
    }

    .grid a {
        padding: 0.3rem;
    }
}

/* Mobile */
@media (max-width: 700px) {
    .grid {
        grid-template-columns: 1fr;
        margin: 2rem 0;
        max-width: 320px;
        justify-content: center;
    }

    .grid div {
        margin: none;
        color: rgba(var(--foreground-rgb), 1);
    }


    .grid div:hover {
        transform: none;
    }
}