.projects {
    display: flex;
    flex-direction: column;
    width: 600px;
    padding: 2rem 0;
}

.projects h2 {
    margin: 0 auto 2rem;
    font-size: 1.8rem;
}

.card {
    padding: 2rem;
    margin-bottom: 1.5rem;
    transition: background 200ms, border 200ms;
    background-color: rgb(var(--card-rgb));
    letter-spacing: .1ch;
    position: relative;
}

.card>.link_icon {
    position: absolute;
    top: 20px;
    right: 20px;
    color: rgba(var(--foreground-rgb), 0.3);
}

.card span {
    display: inline-block;
    transition: transform 200ms;
}

.card header {
    font-size: 0.9rem;
    color: rgba(var(--foreground-rgb), 0.6);
    margin-bottom: 0.3rem;
}

.card h3 {
    font-weight: 600;
    margin-bottom: 0.7rem;
}

.card p {
    margin: 0;
    opacity: 0.6;
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.5;
    max-width: 90%;
    color: rgba(var(--foreground-rgb), 0.5);
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
    .card:hover {
        background: rgba(var(--card-rgb), 0.7);
        transform: scale(103%);
        transition: 200ms;
        border: none;
    }

    .card:hover>.link_icon {
        transition: 200ms;
        color: rgba(var(--foreground-rgb), 0.8);
    }
}

@media (prefers-color-scheme: light) and (hover: hover) and (pointer: fine) {
    .card:hover {
        background: rgba(var(--card-rgb), 0.1);
        transform: scale(103%);
        transition: 200ms;
        border: none;
    }
}

@media (prefers-reduced-motion) {

    .card:hover,
    .card:hover span {
        transform: none;
    }
}


/* Mobile */
@media (max-width: 700px) {
    .projects {
        width: 100%;
    }

    .card {
        padding: 2rem;
    }

    .card>.link_icon {
        color: rgba(var(--foreground-rgb), 0.8);
    }

    .card>header {
        margin-bottom: 0.75rem;
    }

    .card h3 {
        margin-bottom: 1.5rem;
    }

    .card p {
        max-width: 100%;
    }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1200px) {
    .projects {
        width: 80%;
        min-width: 500px;
    }

    .card>.link_icon {
        color: rgba(var(--foreground-rgb), 0.8);
    }
}

@media (prefers-color-scheme: light) {

    .card {
        color: rgb(var(--foreground-rgb));
        box-shadow: 3px 3px 10px rgba(var(--foreground-rgb), 0.4);
    }

    .card:hover {
        background-color: rgb(var(--card-rgb));
        box-shadow: 5px 5px 15px rgba(var(--foreground-rgb), 0.4);
    }

    .card p {
        color: rgb(var(--foreground-rgb));
    }
}